.header {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 480px) {
  .header {
    padding-top: 27px;
    padding-bottom: 32px;

    width: 100%;
    padding-top: 28px;
    padding-left: 0;
    padding-right: 0;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0;
    padding: 27px 0 32px 0;
    max-width: 100%;
  }

  .header__logo {
    padding: 0 0 0 27px;
  }
}
