.profile {
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 375px) auto;
  grid-gap: 7px 15px;
  align-items: center;
  max-width: 415px;
  margin-right: auto;
}

.profile__pic-container {
  position: relative;
  height: 120px;
  width: 120px;
  margin-right: 30px;
}

.profile__pic {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  margin-right: 30px;
}

.profile__pic-container:hover .profile__pic {
  opacity: 60%;
  cursor: pointer;
}

.profile__pic-edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  border: none;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 30px;
  transform: translate(-50%, -50%);
  z-index: 69;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.profile__pic-edit-button:hover {
  opacity: 1;
}

.profile__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  padding: 0;
  max-width: 375px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid white;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/Real\ Add.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
}

.profile__description {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  margin: 0;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 765px) {
  .profile {
    text-align: center;
    flex-direction: column;
  }

  .profile__pic {
    margin: 0;
  }

  .profile__info {
    margin: 0 auto;
  }

  .profile__add-button {
    margin: 36px auto 0;
    width: 282px;
  }
}

@media screen and (max-width: 480px) {
  .profile__title {
    font-size: 22px;
    line-height: 26px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__info {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    line-height: 17px;
    margin-top: 4px;
    font-size: 14px;
  }

  .profile__add-button {
    margin: 36px 0 0;
  }
}
