<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Around the U.S</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  </head>
  <body class="page">
    <div class="page__content">
      <header class="header page__section">
        <img
          src="<%= require('./images/Logo.svg')%>"
          alt="Around the U.S. logo"
          class="header__logo"
        />
      </header>
      <main class="content">
        <section class="profile page__section">
          <img
            src="<%= require('./images/jacques-cousteau.jpg')%>"
            alt="Jacques Cousteau"
            class="profile__pic"
          />
          <div class="profile__info">
            <h1 class="profile__title" id="profile-title">Jacques Cousteau</h1>
            <button
              type="button"
              class="profile__edit-button"
              id="profile-edit-button"
            ></button>
            <p class="profile__description" id="profile-desc">Explorer</p>
          </div>
          <button type="button" class="profile__add-button"></button>
        </section>
        <section class="cards page__section">
          <ul class="cards__list"></ul>
        </section>
      </main>
      <footer class="footer page__section">
        <p class="footer__copyright">&copy; 2022 Around The U.S.</p>
      </footer>
    </div>

    <!-- modal edit -->

    <div class="modal" id="profile-edit-modal">
      <div class="modal__container">
        <button class="modal__close" id="profile-exit-button"></button>
        <p class="modal__heading">Edit Profile</p>
        <form action="#" class="modal__form" id="edit-profile-form" novalidate>
          <input
            class="modal__input"
            type="text"
            name="title"
            placeholder="Name"
            id="profile-title-input"
            minlength="2"
            maxlength="40"
            required
          />
          <span
            class="modal__error modal__error_visible"
            id="profile-title-input-error"
          ></span>
          <input
            class="modal__input"
            type="text"
            name="Description"
            placeholder="Description"
            id="profile-description-input"
            minlength="2"
            maxlength="200"
            required
          />
          <span
            class="modal__error modal__error_visible"
            id="profile-description-input-error"
          ></span>
          <button
            disabled
            type="submit"
            class="modal__button modal__button_disabled"
          >
            Save
          </button>
        </form>
      </div>
    </div>

    <!-- modal add -->

    <div class="modal" id="add-card-modal">
      <div class="modal__container">
        <button class="modal__close" id="add-card-exit-button"></button>
        <p class="modal__heading">New Place</p>
        <form action="#" class="modal__form" id="add-card-form">
          <input
            class="modal__input"
            type="text"
            name="title"
            placeholder="Title"
            id="card-title-input"
            minlength="1"
            maxlength="30"
            required
          />
          <span
            class="modal__error modal__error_visible"
            id="card-title-input-error"
          ></span>
          <input
            class="modal__input"
            type="url"
            name="link"
            placeholder="Image link"
            id="card-link-input"
            required
          />
          <span
            class="modal__error modal__error_visible"
            id="card-link-input-error"
          ></span>
          <button
            disabled
            type="submit"
            class="modal__button modal__button_disabled"
          >
            Create
          </button>
        </form>
      </div>
    </div>

    <!-- modal image -->

    <div class="modal" id="modal-image-display">
      <div class="modal__container modal__container-image">
        <button
          class="modal__close"
          id="modal-image-close-button"
          type="button"
        ></button>
        <img class="modal__image" src="" alt="" />
        <p class="modal__image-label"></p>
      </div>
    </div>

    <template id="card-template">
      <li class="card">
        <img src="" alt="" class="card__image" />
        <div class="card__description">
          <h2 class="card__title"></h2>
          <button type="button" class="card__like-button"></button>
          <button type="button" class="card__delete-button"></button>
        </div>
      </li>
    </template>
  </body>
</html>
